.info {
  font-family: 'Lato', sans-serif;
  margin: 80px 0;


  &-block {
    display: flex;
    flex-direction: column;


    &__title {
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 300;
      line-height: 1.14;
      text-align: center;
      color: #16a085;
    }

    &__text {
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
      color: #7f8c8d;
      margin: 40px 0 30px;
    }

    &__btn {
      font-size: 12px;
      color: #16a085;
      border: solid 1px #16a085;
      margin: 0 auto;
    }
  }
}