@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.navigation {
  background: #16a085;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
}


.nav {
  display: flex;
  justify-content: space-between;

  &__logo {
    font-size: 20px;
    color: #f8f8f8ff;
    padding-top: 13px;
    font-weight: 300;
  }

  &__list {
    font-size: 14px;
    width: 330px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    @media (max-width: 650px) {
      display: none;
    }

    &.active {
      top: 0;
      background: #16a085;
      width: 100%;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: flex-end;
      margin-top: 40px;
      display: block;

      .nav__item {
        padding: 10px;
      }
    }    
				
	&__link {
		text-decoration: none;
		text-transform: uppercase;
    color: #fff;
    padding: 0 15px;
    transition: .3s;
    position: relative;

    

    &:hover {
      // color: blue;
      // border-bottom: 1px solid #55b7ff;
      font-weight: 500;
    }
	}
  }

  &__item {
    text-transform: uppercase;

    &:hover {
      .nav__link{
        color: #f8f8f8ff;
      }
    }
  }

  &__link {
    color: #9bded1;
    text-decoration: none;
  }

  &__burger{
    display: none;
    cursor: pointer;

    @media (max-width: 650px) {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      margin: 15px 0;
    }

    &-span {
      background: #f8f8f8ff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 9px;
      transition: all .3s ease 0s;
    }

    &::before, &::after {
      content: '';
      background: #f8f8f8ff;;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all .3s ease 0s;

    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &.active::before {
      transform: rotate(45deg);
      top: 9px;
    }

    &.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }

    &.active .nav__burger-span {
      transform: scale(0);
    }
  }
}
